@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-background: hsl(214, 7%, 09%);
    --secondary-background: hsl(214, 7%, 14%);
    --primary-text: white
}

body {
    background-color: var(--primary-background);
    color:var(--primary-text)
}

main h2 {
    margin-block: 90px;
    font-size: 3.5em;
    font-family: 'Agbalumo', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


[theme-override='Dark'] {
    --primary-background: hsl(214, 7%, 09%);
    --secondary-background: hsl(214, 7%, 14%);
    --primary-text: white
}

[theme-override='Light'] {
    --primary-background: hsl(214, 7%, 98%);
    --secondary-background: hsl(214, 7%, 90%);
    --primary-text: black
}
