.cardgrid {
    display: grid;
    /* min-width: 80%; */
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    transition: gap 300ms ease-in-out;
}

.card {
    display: grid;
    grid-template-rows: 0.45fr 2fr 0.35fr;
    padding-inline: 20px;
    padding-block: 10px;
    position: relative;
    background-color: hsl(0, 0%, 93%);
    width: 250px;
    height: 250px;
    border-radius: 0.3rem;

}

.card-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-creator-name {
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.card-creator-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 50em;
    /* background-image: url("https://source.unsplash.com/600x600/?cat"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    gap: 10px;
}

.card-footer > * {
    font-size: 1.7em;
    color: #8a96a3;
    transition: color ease-in-out 0.15s;
}

.card-footer iconify-icon:hover {
    color: var(--hover-color);
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    /* background-image: url("https://source.unsplash.com/1920x1820/?cat"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media(max-width: 1200px) {
    .cardgrid {
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 900px) {
    .cardgrid {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 615px) {
    .cardgrid {
        gap: 5px;
        grid-template-columns: repeat(1, 1fr);

    }
}
